@layer base {
  :root {
    --made-with-panda: '🐼'
    }

  *, *::before, *::after, ::backdrop {
    --blur:   ;
    --brightness:   ;
    --contrast:   ;
    --grayscale:   ;
    --hue-rotate:   ;
    --invert:   ;
    --saturate:   ;
    --sepia:   ;
    --drop-shadow:   ;
    --backdrop-blur:   ;
    --backdrop-brightness:   ;
    --backdrop-contrast:   ;
    --backdrop-grayscale:   ;
    --backdrop-hue-rotate:   ;
    --backdrop-invert:   ;
    --backdrop-opacity:   ;
    --backdrop-saturate:   ;
    --backdrop-sepia:   ;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1
    }

  html, body {
    font-family: Open Sans Variable;
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0;
    text-decoration: None;
    text-transform: None;
    color: var(--colors-gray-900);
    background-color: var(--colors-gray-100)
    }

  body {
    display: flex;
    justify-content: center
    }

  a {
    color: var(--colors-blue-500);
    text-decoration: underline;
    cursor: pointer
    }

  h1,h2,h3,h4,h5,h6 {
    font-family: Alfa Slab One;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-decoration: None;
    text-transform: None;
    margin: .5rem 0
    }

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900
    }

  h2 {
    font-size: 2rem
    }

  h2,h3 {
    font-weight: 700
    }

  h3 {
    font-size: 1.5rem
    }

  h4 {
    font-weight: 500
    }

  h4,h5 {
    font-size: 1.2rem
    }

  h5,h6 {
    font-weight: 300
    }

  h6 {
    font-size: 1rem
    }

  ul {
    list-style: disc;
    margin-left: 1rem
    }

  pre, code {
    font-family: Inconsolata;
    font-size: .7rem
    }

  .layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em
    }

  blockquote {
    background: var(--colors-gray-100);
    padding-left: var(--spacing-8)
    }

  p:empty {
    height: var(--sizes-6)
    }
}