@layer base {
    :root {
        --made-with-panda: '🐼';
    }
    *, *::before, *::after, ::backdrop {
        --blur:   ;
        --brightness:   ;
        --contrast:   ;
        --grayscale:   ;
        --hue-rotate:   ;
        --invert:   ;
        --saturate:   ;
        --sepia:   ;
        --drop-shadow:   ;
        --backdrop-blur:   ;
        --backdrop-brightness:   ;
        --backdrop-contrast:   ;
        --backdrop-grayscale:   ;
        --backdrop-hue-rotate:   ;
        --backdrop-invert:   ;
        --backdrop-opacity:   ;
        --backdrop-saturate:   ;
        --backdrop-sepia:   ;
        --scroll-snap-strictness: proximity;
        --border-spacing-x: 0;
        --border-spacing-y: 0;
        --translate-x: 0;
        --translate-y: 0;
        --rotate: 0;
        --skew-x: 0;
        --skew-y: 0;
        --scale-x: 1;
        --scale-y: 1;
    }
}
@layer base {
    html, body {
        font-family: Raleway;
        font-weight: 500;
        font-size: 16;
        line-height: 1.5;
        letter-spacing: 0;
        text-decoration: None;
        text-transform: None;
        color: var(--colors-gray-900);
        background-color: var(--colors-gray-100);
    }
    .content {
        --gap: clamp(1rem, 6vw, 3rem);
        --full: minmax(var(--gap), 1fr);
        --content: min(50ch, 100% - var(--gap) * 2);
        --popout: minmax(0, 2rem);
        --feature: minmax(0, 5rem);
        display: grid;
        grid-template-columns: [full-start] var(--full)
			[feature-start] var(--feature)
			[popout-start] var(--popout)
			[content-start] var(--content) [content-end]
			var(--popout) [popout-end]
			var(--feature) [feature-end]
			var(--full) [full-end];
    }
    .content > * {
        grid-column: content;
    }
    .content .popout {
        grid-column: popout;
    }
    .content .feature {
        grid-column: feature;
    }
    .content .full {
        grid-column: 1 / -1;
    }
    body {
        display: grid;
    }
    a {
        color: var(--colors-blue-500);
        text-decoration: underline;
        cursor: pointer;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: Bellota;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 0;
        text-decoration: None;
        text-transform: None;
        margin: .5rem 0;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
    }
    h2 {
        font-size: 2rem;
        font-weight: 700;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    h4 {
        font-size: 1.2rem;
        font-weight: 500;
    }
    h5 {
        font-size: 1.2rem;
        font-weight: 300;
    }
    h6 {
        font-size: 1rem;
        font-weight: 300;
    }
    ul {
        list-style: disc;
        margin-left: 1rem;
    }
    input {
        border-radius: var(--radii-md);
    }
    pre, code {
        font-family: Inconsolata;
        font-size: .7rem;
    }
    .layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
    blockquote {
        background: var(--colors-gray-100);
        padding-left: var(--spacing-8);
    }
    p:empty {
        height: var(--sizes-6);
    }
}